*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url("../Image/Home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    position: absolute;
    width: 100%;
    height: 57px;
    text-align: center;
    display: inline-block;
    z-index: 109;
    margin-top: 2%;
}
ul {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: white;
}
.logo{
    position: absolute;
    margin: 19px 0px 0px -260px;
}
.phone_number{
    position: absolute;
    margin: -47px 0px 0px 493px;
}
li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 25px;
    color: white;
}
div{
    width: 100%;
    position: absolute;
    height: 100vh;
    background:#5E239D;
    mix-blend-mode: multiply;
}
h1{
    position: absolute;
    margin: 279px 0px 0px 228px;
}